guessing_game/target/** 
guessing_game/.idea/** 
guessing_game/.vscode/** 
practice_rust/target/** 
practice_rust/.idea/** 
practice_rust/.vscode/** 
.vscode/** 
restaurant/.idea/** 
restaurant/target/** 
restaurant/.vscode/** 
practice_rust/src/codes/*.txt